.Titre {
    font-weight: bolder;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    text-align: center;
    
}
.Icone img {
    width: 15px;
    height: 15px;
    display: flex;
    margin-right: 10px;
}
.texte {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-style: normal;
    font-size: small;
    margin: 5px;
}
.main {
    display: flex;
    align-items: center;
}
.Image-chandails {
    display: flex;
    height: 500px;
    width: fit-content;
    
}
.boite-information {
    display: flex;
}
.texte-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 150px;
    flex-wrap: wrap;
}
.sous-titre {
    font-family: Arial, Helvetica, sans-serif;
}
.info-texte {
    font-weight: lighter;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    display: flex;
    
}

.bouton-grandeur {
    display: flex;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    margin: 15px;
}


.contour-taille {
    display: flex;
    width: 100px;
    height: 15px;
    text-align: center;
    align-items: center;
    border-width: 0.1px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    width: fit-content;
    padding: 5px;
    margin-left: 15px;
}

.texte-achat {
    font-weight: lighter;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 20px;
    color: white;
}

