/*Titre du site e-commerce*/
.Titre {
    width: 100px;
    height: 10px;
    padding-right: 100px;
    padding-top: 15px;
    padding-bottom: 35px;
    text-align: center;
    align-items: center;
    font-weight: bolder;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    
}

/*Sous-titre de section du site e-commerce */
.sous-titre {
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 30px;
    display: flex;
    padding-bottom: 10px;
}

/* Icone de la page d'accueil, début du texe au dessus de l'image de vêtement */
.Icone img {
    width: 15px;
    height: 15px;
    display: flex;
    margin-right: 10px;
}

.texte-en-tete-section {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-style: normal;
    font-size: small;
    margin: 5px;
}

/*Box de l'icône et les mots au dessus de l'image */
.en-tete-section {
    margin-left: 70px;
    display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

.Image-chandails {
    display: flex;
    height: 550px;
    width: fit-content;
    border-radius: 15px;
    overflow: hidden;
}

/*Cette section c'est le flex box qui permet à la boite grsie d'être sur la ligne */
.flex-colonne-boite-information-grise {
    display: flex;
    padding-left: 20px;
}

/*Flexbox pour la boîte grise qui permet de la mettre à droite */
.flex-rangé-boite-information-grise {    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 550px;
    flex-wrap: wrap;
}

/*Style de texte qui se trouve dans la boîte grise */
.texte-boite-grise {
    font-weight: lighter;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    display: flex;
    
}

/*Code css pour les supposés boutons de selections de tailles  */
.bouton-grandeur {
    display: flex;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    margin: 15px;
}

/*Code pour le contour des boutons de tailles, il représente la selection */
.contour-taille {
    display: flex;
    width: 100px;
    height: 15px;
    text-align: center;
    align-items: center;
    border-width: 0.1px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    width: fit-content;
    padding: 5px;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

/*Code pour le bouton achat  */
.texte-achat {
    font-weight: lighter;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 20px;
    color: white;
}

/*Sert à aligner le mot commentaire au milieu en dessous de l'image et la description  */
.commentaire {   
    display: flex;
    align-items: center;
    text-align: center;
    height: fit-content;
    width: fit-content;
    font-weight: normal;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 25px; 
    padding-left: 650px;
}