/*Titre du site e-commerce*/
.Titre {
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: bolder;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100px;
    height: 10px;
    padding-right: 100px;
    padding-top: 15px;
    padding-bottom: 35px;
    font-size: 75px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*Sous-titre de section du site e-commerce */
.sous-titre {
    display: flex;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
}

/* Icone de la page d'accueil, début du texe au dessus de l'image de vêtement */
.Icone img {
    display: flex;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
/*Texte en-tête section*/
.texte-en-tete-section {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-style: normal;
    font-size: small;
    margin: 5px;
}

/*Box de l'icône et les mots au dessus de l'image */
.en-tete-section {
    display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin-left: 70px;
}

.Image-chandails {
    display: flex;
    overflow: hidden;
    width: fit-content;
    height: 550px;
    border-radius: 15px;
}

/*Cette section c'est le flex box qui permet à la boite grsie d'être sur la ligne */
.flex-colonne-boite-information-grise {
    display: flex;
    padding-left: 20px;
}

/*Flexbox pour la boîte grise qui permet de la mettre à droite */
.flex-rangé-boite-information-grise {    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 550px;
}

/*Style de texte qui se trouve dans la boîte grise */
.texte-boite-grise {
    font-weight: lighter;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    display: flex;
    
}

/*Code css pour les supposés boutons de selections de tailles  */
.bouton-grandeur {
    display: flex;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    margin: 15px;
}

/*Code pour le contour des boutons de tailles, il représente la selection */
.contour-taille {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    display: flex;
    text-align: center;
    align-items: center;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    width: fit-content;
    border-width: 0.1px;
    width: 100px;
    height: 15px;
    padding: 5px;
    margin-left: 15px;
}

/*Code pour le bouton achat  */
.texte-achat {
    font-weight: lighter;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    color: white;
    padding-left: 20px;
}

/*Sert à aligner le mot commentaire au milieu en dessous de l'image et la description  */
.commentaire {   
    display: flex;
    align-items: center;
    text-align: center;
    height: fit-content;
    width: fit-content;
    font-weight: normal;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 75px; 
    padding-left: 650px;
}

/* Section pour l'espace commentaire*/
.flex-colonne-commentaire {
    display: flex;
    padding-left: 20px;
}

.flex-rangé-commentaire {    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-top: 50px;
}

.nom-personne-commentaire {
    display: flex;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    width: fit-content;
    text-align: center;
    align-items: center;
    text-align: center;
    font-size: xx-large;
    width: fit-content;
    height: 15px;
    padding-left: 90px;
    padding-top: 15px;
}

.texte-commentaire {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: normal;
    margin-bottom: 50px;
}
.image-etoile {
    display: flex;
    flex-direction: row;
    height: 35px;
    width: 35px;
    padding-left: 15px;
}

.flex-rangé-commentaire-2 {    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 350px;
    margin-top: 50px;
    padding-bottom: 50px;
}
/*Section du footer en css*/
.footer {
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: left;
    width: 100%;
    height: 150px;
    text-align: center;
    align-items: center;
    align-content: center;
    font-size: 100px;
  }